*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(apple.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
}
.nav-bar{
    width: 100%;
    padding: 0.6rem 0;
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: center;
}
.content{
    background-color:rgb(18,18,18);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 70%;
}
    

.fa{
    color: white;
}
.link{
    color: white;
    text-decoration: none;
    
}
